.navbar{
    width: 97%;
    height: 25px;
    background-color: rgba(255, 99, 71, 0.719);
    display: flex;
    justify-content: right;
    padding: 10px;
    margin-right: 5px;
    position: absolute;
}

.navbar .navbar-content a{
    margin-right: 10px;
    color: black;
    font-size: large;
    font-weight: bold;

}